{{ "<!-- Agenda -->" | safeHTML }}
<div id="agenda" class="container-fluid content text-center">

  <h1>Live</h1>

  {{ range where .Site.RegularPages.ByDate "Section" "==" "agenda" }}
    <h2>{{ .Title }}</h2>
    {{ if isset .Params "remark" }}
      <div id="remark">{{ .Params.remark }}</div>
    {{ end }}
    {{ .Content }}
    <br>___ ___ ___
  {{ end }}

  <br>
  <br>
  <p>Informationen zu vergangenen Veranstaltungen sind im <a href="#archiv">Archiv</a> zu finden.</p>

</div>
<hr>
