{{ "<!-- Bio -->" | safeHTML }}
<div id="biografie" class="container-fluid content text-center">
  <h1>Simone Felber - Mezzosopran</h1>
  <p>
    Ersten Gesangsunterricht erhielt Simone Felber bei Brigitte Kuster während ihrer Zeit am
    Gymnasium. Nach abgeschlossener Matura mit Schwerpunktfach Musik, nahm sie 2011 das
    Vorstudium an der Hochschule Luzern - Musik bei Prof. Barbara Locher auf. Im Sommer 2015
    schloss sie den Bachelor of Arts in Music ab und studiert seit dem Herbst 2015 im Master of
    Arts in Musikpädagogik bei Barbara Locher. Meisterkurse bei Evelyn Tubb, Rosalba Trevisan
    und Edward Rushton ergänzen ihre Ausbildung.
  </p>
  <p>
    Erste Bühnenerfahrungen sammelte sie in
    Projekten der Hochschule Luzern unter der Leitung von Regina Heer. Im Februar 2016
    gastierte sie am Luzerner Theater in der frühbarocken Oper Venus &amp; Adonis von John Blow
    als Cupido. Im Sommer 2016 spielte sie bei Operella – die Taschenoper die Rolle des Jean in
    Jules Massenets Oper Le portrait de Manon.
  </p>
  <p>
    Neben ihrer Konzerttätigkeit als Sängerin
    arbeitet sie als Gesangspädagogin. Die Auseinandersetzung mit der Stimme lässt sie
    verschiedene Gesangstechniken ausprobieren, so nimmt sie unter anderem Jodelunterricht
    bei Nadja Räss.
  </p>
</div>
