{{ "<!-- CD -->" | safeHTML }}
<div id="cd" class="container-fluid content text-center">

  <h1>CD &laquo;Ha ame ne Ort es Bl&uuml;emeli gseh&raquo;</h1>

  <img src="cd1.jpg" alt="Ha ame ne Ort es Blüemeli gseh" width="25%">
  <p/>
  <p>
    Die CD &laquo;Ha ame ne Ort es Bl&uuml;emeli gseh&raquo; kann auf folgende Arten bestellt werden:
  </p>
  <p>
    1. Twint: Zahlung von CHF 25 pro CD plus CHF 5 Porto per Twint an +41 77 414 25 45.<br>
    <b>In der Nachricht unbedingt Lieferadresse angeben!</b>
  </p>
  <p>
    2. Bank&uuml;berweisung: Zahlung von CHF 25 pro CD plus CHF 5 Porto an CH45 0900 0000 4062 5764 6 (Simone Felber, Luzern).<br>
    <b>In der Nachricht unbedingt Lieferadresse angeben!</b>
  </p>
  <p>
    3. Oder für CHF 25 an einem unserer Konzerte.
  </p>
</div>
<hr>
