{{ "<!-- Gesangsunterricht -->" | safeHTML }}
<div id="unterricht" class="container-fluid content text-center">
  <h1>Gesangsunterricht</h1>
  <p>
  Simone Felber unterrichtet seit 2016 an der Musikschule Menzingen ZG. Auch privat gibt sie klassischen Sologesang und Jodelunterricht.
  Als Stimmbilderin arbeitet sie projektweise bei verschiedenen Ch&ouml;ren so u.a beim Jungedchor Nha Fala Horw, Kammerchor Luzern und Singkreis Lukas Luzern
  </p>
  <p>
  Lust auf eine unverbindliche Schnupperstunde, egal ob klassisch oder jodel.
  <a href="mailto:info@simonefelber.ch">Simone Felber</a> freut sich auf eine kurze Mitteilung per Email (<a href="mailto:info@simonefelber.ch">info at simonefelber.ch</a>).
  </p>

</div>
