{{ "<!-- Navigation bar -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Simone Felber - Mezzosopran</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#biografie">Biografie</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#agenda">Agenda</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#projekte">Projekte</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#unterricht">Unterricht</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#fotos">Fotos</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#newsletter">Newsletter</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#archiv">Archiv</a></li>
      </ul>
    </div>
  </div>
</nav>
