{{ "<!-- Navigation bar -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Simone Felber</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#agenda">Live</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#biografie">Bio</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#projekte">Projekte</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#videos">Videos</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#cd">CD</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
