{{ "<!-- Projekte -->" | safeHTML }}
<div id="projekte" class="container-fluid content text-center">

  <h1>Projekte</h1>

  <div class="row">
    <div class="col-sm-6">
      <h3>hedi drescht</h3>
      <img src="projekt1.jpg" alt="hedi drescht" width="100%">
      <p>
        Was ist Heimat? Eine auf den ersten Blick simple Frage. 
        Und es gibt eine Menge einfache, ja banale Antworten darauf. 
        Die Volksmusik und ihr reicher Schatz Schweizerischer Jodellieder etwa haben tausende Antworten parat: 
        Heimat ist Berglandschaft, Heimat ist Glaube, Heimat ist Dorfgemeinschaft und Grossfamilie, Trachtenverein und Jodelmusik. 
        Heimat ist das Sch&auml;tzeli: Die erste Liebe, mit der man in einer monogam heterosexuellen Beziehung ein ganzes Leben verbringt. 
        Heimat ist das Heimetli und seit Jahrhunderten in Familienbesitz. 
        Heimat ist b&auml;uerliche Idylle, eine Art christlich-konservativer Utopie, und Heimat hat insbesondere nichts mit der grossen weiten Welt und deren Problemen zu tun: 
        Denn Heimat ist zuallererst Idylle. hedi drescht gibt sich nicht mit diesen Antworten zufrieden. 
      </p>
      <p>
        F&uuml;r ihr neues Programm haben hedi drescht neue Lieder geschrieben, die ihre Heimat beschreiben. 
        Mal melancholisch, mal kritisch, mal luftig und leicht bewegen sich die beiden Musiker:innen in ihrem eigenen Genre zwischen Liedduo und Jodellied.
      </p>
      <p>
        hedi drescht sind: Simone Felber - Stimme, <a href="https://www.lukasgernet.com" target="_blank">Lukas Gernet</a> - Piano
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Simone Felbers iheimisch</h3>
      <img src="projekt2.jpg" alt="Simone Felbers iheimisch" width="100%">
      <p>
        Naturkl&auml;nge, Heimatkl&auml;nge, Urkl&auml;nge, musikalische Heimat. K&ouml;nnen fremde Kl&auml;nge auch Heimatkl&auml;nge werden?
        Wie schwierig ist es die musikalische Heimat zu verlassen? Woher kommen Ur- und Naturkl&auml;nge? Kann ein neuer
        Klang auch ein Urklang werden? Wann wird Fremdes heimisch, wann Heimisches Fremd?
      </p>
      <p>
        Diese Fragen verbinden Simone Felber, Adrian W&uuml;rsch und Pirmin Huber, welche sich alle an der Musikhochschule
        Luzern kennengelernt haben. Ausgehend von dem jeweils eigenen musikalischen Zuhause (Klassik, Volksmusik und Jazz)
        begeben sich die drei Musiker auf die Suche nach ihrem ganz eigenen Urklang.
      </p>
      <p>
        <a href="http://trioiheimisch.ch" target="_blank">iheimisch</a> sind: Simone Felber - Stimme, 
        <a href="http://www.adrianwuersch.ch" target="_blank">Adrian W&uuml;rsch</a> - Schwyzer&ouml;rgeli,
        <a href="http://www.pirminhuber.com" target="_blank">Pirmin Huber</a> - Kontrabass
      </p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-6">
      <h3>famm</h3>
      <img src="projekt3.jpg" alt="famm" width="100%">
      <p>
        Alte Lieder in neuen Kleidern: famm sind vier junge S&auml;ngerinnen, die sich dem Schweizer Liedgut verschrieben 
        haben und diesem in eigenen Arrangements frisch und verspielt neues Leben einhauchen.
      </p>
      <p>
        Die vier S&auml;ngerinnen bewegen sich auf vielseitigem musikalischem Terrain. Ihr unterschiedlicher Werdegang zeigt 
        sich nicht nur in den charakteristischen Arrangements, sondern auch in ihrem einzigartigen Klang. Von feinster Leisheit, 
        &uuml;ber augenzwinkerndes Jodeln, bis hin zum ungeschliffenen Fortissimo bewegen sich famm souver&auml;n durch die Klangwelten 
        und ber&uuml;hren und unterhalten das Publikum mit ihrem harmonischen Klang, feinem Humor und grosser Pr&auml;zision.
      </p>
      <p>
        <a href="http://fammmusig.ch" target="_blank">famm</a> sind: Claudia Greber, Sabrina Troxler, Sarah H&ouml;ltschi und Simone Felber
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Echo vom Eierstock</h3>
      <img src="projekt4.jpg" alt="Echo vom Eierstock" width="100%">
      <p>
        Gegr&uuml;ndet vom feministischen Kollektiv Nidwalden singt der Jodler:innenchor Echo vom Eierstock seit Anfang 2022 Jodellieder mit unsexistischen Texten. 
        Die Jodler:innen unter der Leitung von Simone Felber wollen die Jodeltradition weiterleben lassen und mit ihren Ansichten erweitern.
      </p>
      <p>
        <a href="https://www.echovomeierstock.ch" target="_blank">Echo vom Eierstock</a>
      </p>
    </div>
  </div>
</div>
