{{ "<!-- Projekte -->" | safeHTML }}
<div id="projekte" class="container-fluid content text-center">

  <h1>Projekte</h1>

  <div class="row">
    <div class="col-sm-4">
      <h3>Liedduo</h3>
      <img src="projekt1.jpg" alt="Liedduo" width="100%">
      <p>
        Schon seit ihrer Zeit am Gymnasium musizieren die S&auml;ngerin Simone Felber und der Pianist Roman
        M&uuml;ller gemeinsam. W&auml;hrend ihrer Studienzeit an der Hochschule Luzern – Musik intensivierten sie
        diese Zusammenarbeit und bauten ein gr&ouml;sseres Repertoire auf. So besuchten sie unter anderem
        Liedduokurse bei Edward Rushton und Peter Baur.
      </p>
      <p>
        Der Schwerpunkt ihres Repertoires liegt auf der deutschen Romantik. Neben dem Liedzyklus
        Frauenliebe und Leben und weitern St&uuml;cken von Robert Schumann spielen sie Lieder von Franz
        Schubert, Felix Mendelssohn und Johannes Brahms. Des Weiteren beinhaltet ihr Repertoire
        impressionistische St&uuml;cke wie “Le Bestiare“ von Francis Poulenc und die „Siete Canziones Populares
        Espagnolas“ von Manuel de Falla.
      </p>
      <p>
        Das aktuelle Programm des Duos setzt sich mit zwei der gr&ouml;ssten Komponisten der deutschen
        Romanitk auseinander. Der Zyklus „Frauenliebe und Leben“ von Robert Schumann bildet der
        Hauptteil, dieser stellt die Entwicklung einer jungen Frau dar. Von der ersten Begegnung mit ihrem
        Zuk&uuml;nftigen bis zum Tode ihres geliebten. Diesen, teils etwas naiven Ansichten, stehen „Ellen’s Ges&auml;
        nge“ gegen&uuml;ber. Franz Schubert vertont darin eine alte schottische Sage, welche von Sir Walter Scott
        in „the lady of the lake“ in sechs Ges&auml;ngen niedergeschrieben wurde. Diese Geschichte erz&auml;hlt von
        der sch&ouml;nen und starken Ellen, welche in ihrem Schloss auf ihren Geliebten wartet.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>iheimisch</h3>
      <img src="projekt2.jpg" alt="iheimisch" width="100%">
      <p>
        Naturkl&auml;nge, Heimatkl&auml;nge, Urkl&auml;nge, musikalische Heimat. K&ouml;nnen fremde Kl&auml;nge auch Heimatkl&auml;nge werden?
        Wie schwierig ist es die musikalische Heimat zu verlassen? Woher kommen Ur- und Naturkl&auml;nge? Kann ein neuer
        Klang auch ein Urklang werden? Wann wird Fremdes heimisch, wann Heimisches Fremd?
      </p>
      <p>
        Diese Fragen verbinden Simone Felber, Adrian W&uuml;rsch und Pirmin Huber, welche sich alle an der Musikhochschule
        Luzern kennengelernt haben. Ausgehend von dem jeweils eigenen musikalischen Zuhause (Klassik, Volksmusik und Jazz)
        begeben sich die drei Musiker auf die Suche nach ihrem ganz eigenen Urklang.
      </p>
      <ul>
        <li>
          Simone Felber - Stimme
        </li>
        <li>
          Adrian W&uuml;rsch - Schwyzer&ouml;rgeli <a href="http://www.adrianwuersch.ch" target="_blank">www.adrianwuersch.ch</a>
        </li>
        <li>
          Pirmin Huber - Kontrabass <a href="http://www.pirminhuber.com" target="_blank">www.pirminhuber.com</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Jugendchor jutz.ch</h3>
      <img src="projekt3.jpg" alt="jutz.ch" width="100%">
      <p>
        "Rote ufem Lade, sch&ouml;ni Meitschiwade, tanze, wer wott no meh! Aus den Kehlen der juvenilen Jodlerinnen und Jodler
        erscheint Robert Fellmanns Chilbil&auml;be zeitlos, Jodeln sogar ein bisschen trendy." SHJ-Zeitschrift 26. April 2016
      </p>
      <p>
        Der Jugendjodelchor <a href="http://www.jugendchor-jutz.ch">jutz.ch</a> wurde anl&auml;sslich des Europ&auml;ischen
        Jugendchorfestivals in Basel gegr&uuml;ndet. Die 20 Jugendlichen
        setzen sich mit traditionellen Jodelliedern und Naturjodeln aus der ganzen Schweiz auseinander.
      </p>
    </div>
  </div>
</div>
