
body {
  font-family: Arial,sans-serif;
}

h1 {
  margin-bottom: 30px;
}

p, li {
  font-size: 120%;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.content {
  padding-top: 70px;
  padding-bottom: 70px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.navbar li a, .navbar .navbar-brand {
  color: white !important;
}

.navbar-default {
  background-color: rgba(76, 76, 76, 0.2);
}

.thumbnail {
  border:0px;
  background-color: inherit;
}

.thumbnail > img {
  padding-bottom: 10px;
}

#biografie {
  background-color: #474e5d;
  color: white;
}

#projekte {
  background-color: #b8b8c3;
  color: black;
}

#projekte p {
  text-align: justify;
}

#fotos {
  background-color: #474e5d;
  color: white;
}

#projekte img {
  padding-top:20px;
  padding-bottom:20px;
}

#footer {
  background-color: #2f2f2f;
  color: white;
}
